<html>
	<head>
	    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}?{{ timestamp }}">
	
		<title>Загрузка 3д объекта</title>
	</head>
	<body>
	    <div class="main">
	        <div class="content-left" id="3dScene">
				<div class="preload"><span>Rendering...</span></div>
			</div>
	        <div class="sidebar-right">
				<div class="top_container">
					<div style="display:flex; flex-direction:column;">
						<h2>1. Загрузите .mtl</h2>
						<input type="file" id="mtl_input" class = "inputfile">
						<label for="mtl_input"><span>ЗАГРУЗИТЬ .MTL</span></label>
					</div>
					<div style="display:flex; flex-direction:column;">
						<h2>2. Загрузите .obj</h2>
						<input type="file" id="obj_input" class = "inputfile">
						<label for="obj_input"><span>ЗАГРУЗИТЬ .OBJ</span></label>
					</div>
					<div id="pb" class="progress-bar" style="display: none;"></div>
				</div>
	            
				<text id="text-info">*Сбросить и попробовать еще раз - F5. <br> Рекомендуемый размер obj файла до 16мб. <br> Размер хранилища - 512мб. <br> Альфа-версия, возможны ошибки.</text>
	         </div>

		<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='libs/progressbar.min.js') }}"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/three.js/87/three.min.js"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='libs/OBJLoader.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='libs/MTLLoader.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='libs/OrbitControls.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/index.js') }}?{{ timestamp }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/buttons.js') }}?{{ timestamp }}"></script>

	</body>
</html>